#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #de6a2f;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  margin-bottom:3%;
}

#myBtn:hover {
  background-color: #ff9d6b;;
}
#award {
  display: none;
  position: fixed;

}
#certdiv {
  display: block;
  position: fixed;

}
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 3px;
}

.social-network a.icoLinkedin {
	background-color:#ffb894;
}
.social-network a.icoFacebook {
	background-color:#ff9d6b;
}
.social-network a.icoTwitter {
	background-color:#f78245;
}
.social-network a.icoGoogle {
	background-color:#de6a2f;
}
.social-network a.icoVimeo {
	background-color:#0590B8;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 35px;
	height: 35px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:35px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
	
.customFooter {
	position: fixed;
	bottom: 0px;
	height: auto;
	background-color: #d4d4d4;
	width: 100%;
	z-index:99;
}
body{
	/*background: linear-gradient(to right, #2a3a49 0%, #2a3a49 68.2%, white 68.2%, white 100%);*/
	background:#2a2a49;
	padding: 0;
	margin: 0;
	
}

.menu, .menux{
	position: relative;
	width:100px;
	height:1000px;
	bottom:150px;
	transform: scale(0.7);
	/*background-image: url("F:/Package/santra-schema.github.io/santra-schema.github.io/images/source.gif"); */

}
.itemx{
	height: 0;
	width: 160px;
	border-bottom: 70px solid #e8fcff;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 0;
	transition: 1s;
	font-size:12px;
	font-weight:bold;
}
.itemx:before{
	content: ' ';
	height: 0;
	width: 160px;
	border-top: 70px solid #e8fcff;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 70px;
	left: -40px;
	font-size:12px;
	font-weight:bold;
}
.itemb{
	height: 0;
	width: 160px;
	border-bottom: 70px solid #b8ff8a;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 0;
	transition: 1s;
	font-size:12px;
	font-weight:bold;
}
.itemb:before{
	content: ' ';
	height: 0;
	width: 160px;
	border-top: 70px solid #b8ff8a;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 70px;
	left: -40px;
	font-size:12px;
	font-weight:bold;
}.itemy{
	height: 0;
	width: 160px;
	border-bottom: 70px solid #ffffa1;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 0;
	transition: 1s;
	font-size:12px;
	font-weight:bold;
}
.itemy:before{
	content: ' ';
	height: 0;
	width: 160px;
	border-top: 70px solid #ffffa1;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 70px;
	left: -40px;
	font-size:12px;
	font-weight:bold;
}
.item{
	height: 0;
	width: 160px;
	border-bottom: 70px solid #fff;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 0;
	transition: 1s;
	font-size:12px;
	font-weight:bold;
}
.item:before{
	content: ' ';
	height: 0;
	width: 160px;
	border-top: 70px solid #fff;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 70px;
	left: -40px;
	font-size:12px;
	font-weight:bold;
}
.selected{
border-bottom: 70px solid #e06c00;
}
.selected:before{
border-top: 70px solid #e06c00;
}
.main{
border-bottom: 70px solid #e06c00;
}
.main:before{
border-top: 70px solid #e06c00;
}
#add{
	font-size: 80px;
	color: #fff;
	position: relative;
}
.menu a>.fa{
	font-size: 60px;
}
.menu a{
	position: relative;
	top: 40px;
	left: 10px;
	
}
.menu :not(.main) a>.fa:hover{
	color: #bd3c00;
	transform: scale(1.3);
	transition: 1s;
}

.menux a>.fa{
	font-size: 60px;
}
.menux a{
	position: relative;
	top: 40px;
	left: 10px;
	
}
.menux :not(.main) a>.fa:hover{
	color: #4168b5;
	transform: scale(1.3);
	transition: 1s;
}
#namespan{
	font-family:calibari;font-size:23px; color:#e06c00; padding:5px 10px 5px 10px; border: 2px solid #e06c00;border-radius: 25px; background-color:#fbffc9;
}
.item1{transform : translate(0px,50px)
}.item21{z-index: 9;transform : translate(135px,125px)
}.item22{z-index: 9;transform : translate(135px,275px)
}.item23{z-index: 9;transform : translate(135px,575px)
}.item26{z-index: 9;transform : translate(135px,875px)
}.item3{transform : translate(0px,200px)
}.item4{transform : translate(0px,350px)
}.item5{transform : translate(0px,500px)
}.item6{transform : translate(0px,650px)
}.item7{transform : translate(0px,800px)
}.item8{transform : translate(0px,950px)
}
.itema{transform : translate(0px,100px)
}.itemb{opacity: 0.8;transform : translate(0px,250px)
}.itemc{transform : translate(0px,400px)
}.itemd{transform : translate(130px,175px)
}.iteme{transform : translate(130px,325px)
}.itemf{opacity: 0.6;transform : translate(260px,250px)
}.itemg{opacity: 0.6; transform : translate(-130px,175px)
}.itemh{opacity: 0.6; transform : translate(-130px,325px)
}
@media only screen and (max-width: 800px){
	
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 99;
  font-size: 2px;
  border: none;
  outline: none;
  background-color: #de6a2f;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  margin-bottom:50%;
}
.menu{
	position: relative;
	width:50px;
	transform: scale(0.7);

}
.item{
	height: 0;
	width: 80px;
	border-bottom: 35px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	top: 0;
	transition: 1s;
	font-size:0px;
	font-weight:bold;
}
.item:before{
	content: ' ';
	height: 0;
	width: 80px;
	border-top: 35px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	top: 34px;
	left: -20px;
	font-size:4px;
	font-weight:bold;
}
.selected{
border-bottom: 35px solid #e06c00;
}
.selected:before{
border-top: 35px solid #e06c00;
}
.main{
border-bottom: 35px solid #e06c00;
}
.main:before{
border-top: 35px solid #e06c00;
}
#add{
	font-size: 40px;
	color: #fff;
	position: relative;
}
.menu a>.fa{
	font-size: 30px;
}
.menu a{
	position: relative;
	top: 20px;
	left: 5px;
	
}
.menu :not(.main) a>.fa:hover{
	color: #bd3c00;
	transform: scale(0.6);
	transition: 1s;
}

.item1{transform : translate(0px,25px)
}.item21{z-index: 9;transform : translate(70px,62px)
}.item22{z-index: 9;transform : translate(70px,142px)
}.item23{z-index: 9;transform : translate(70px,306px)
}.item3{transform : translate(0px,105px)
}.item4{transform : translate(0px,185px)
}.item5{transform : translate(0px,265px)
}.item6{transform : translate(0px,345px)
}.item7{transform : translate(0px,425px)
}.item8{transform : translate(0px,505px)
}
}
.logoclass{	
	bottom: 0px;
	position:fixed;
	background-color:#2a2a49;
	height:100px;
	width:100%;
	float:right;
	color:white;
	margin-top: 3%;
	margin-bottom: 3%;
}
.maincontent{
	width:70%;
	float:right;
	color:white;
	padding-top:20px;
	padding-right:5%;
	margin-bottom: 100px;
}
.certificate .maincontent{
}
.headbtn{
	font-size:26px;
}
.hellospan{
	font-size:18px;
}


.container {
	padding: 5px 20px 20px 20px;
	width: 100%;
	margin: 10px auto;
	margin-left:-20px;

}

.container h1 {
	text-align: center;
	color: #FFF;
	letter-spacing: 2px;
	opacity: 0;
}

.acc {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	margin-bottom: 20px !important;
}

.acc .btns {
	width: 30%;
	list-style: none;
	background-color: #DDD;
	height: 400px;
	box-shadow: 1px 1px 3px #000;
}

.acc .btns div {
	padding: 10px 10px 10px 20px;
	cursor: pointer;
	color: white;
	background: #0a0724;
	transition: all .5s ease-in-out;
	position: relative;
	display: flex;
	align-items: center;
	letter-spacing: 2px;
}

.acc .btns div:not(:last-child) {
	border-bottom: 2px solid #2a2a49 !important;
}

.acc .btns div:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2px;
	height: 0;
	background-color: transparent;
	transition: all .5s;
}

.acc .btns div:hover, .acc .btns div.active {
	color: #ff8847;
	background-color:#2a2a49;
}

.acc .btns div:hover:after, .acc .btns div.active:after {
	color: #ff8847;
	background-color: #ff8847;
	height: 100%;
}

.acc .info {
	width: 70%;
	color: #DDD;
	background: linear-gradient(to right, #2a2a49, white);
	letter-spacing: 1px;

	position: relative;
	overflow: hidden;
	box-shadow: 1px 1px 3px #000;
}

.acc .info .content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	overflow: auto;
	left: 100%;
}

.acc .info .content:not(:first-child) {
	display: none;
	left: 0;
}

.acc .info .content h4 {
	color: #ff8847;
}

.acc .info .content p {
	font-size: 14px;
	color: black;
	line-height: 1.8;
	letter-spacing: 1px;
	word-spacing: 1px;
	padding-right: 20px;
}

.controls {
	display: flex;
	position: relative;
	background: linear-gradient(to right, rgba(17, 17, 17, 0.38), rgba(30, 36, 37, 0.25));
	padding: 10px 20px 0 0;
	width: 100%;
	max-height: 100%;
}

.controls * {
	opacity: 0;
}

.controls::after {
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	height: 1px;
	background-color: #000;
}

.controls .btn {
	width: 10%;
}



.controls .arrows, .controls .arrows2 {
	list-style: none;
	overflow: hidden;
	padding: 0 20px;
	margin: 0;
}

.controls .arrows {
	width: 100%;
	z-index: 5;
}

.controls .arrows li {
	display: inline-block;
	color: #525c5f;
	font-size: 25px;
	font-weight: 700;
	float: right;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.controls .arrows li:last-child {
	animation: arrowEffect 3s 3000ms infinite;
}

.controls .arrows li:hover, .controls .arrows li:last-child:hover {
	color: #ff8847;
}

.controls .arrows li:first-child {
	float: left;
}

.controls .arrows .li:last-child  {
	float: right;
}

.controls .arrows2 {
	position: absolute;
	top: 20px;
	display: flex;
	justify-content: center;
	padding: 0;
	width: 60%;
	left: 20%;
	z-index: 10;
}

.controls .arrows2 li {
	width: 16px;
	height: 12px;
	float: none;
	background-color: transparent;
	border: 2px solid #525c5f;
	border-radius: 30% 4px;
	margin: 5px;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.controls .arrows2 li.active, .controls .arrows2 li:hover {
	background-color: #ff8847;
	border: 2px solid #ff8847;
}

::selection {
	color: #FFF;
	background-color: #ff8847;
}

.info p{
	font-weight:bold;
}
@media only screen and (max-width: 800px){
.logoclass{	
	bottom: 0px;
	position:fixed;
	background-color:#2a2a49;
	height:100px;
	width:100%;
	float:right;
	color:white;
	margin-top: 3%;
	margin-bottom: 45%;
}
.maincontent{
	width:70%;
	float:right;
	color:white;
	padding-top:20px;
	padding-right:0%;
	padding-bottom:250px;
}
.headbtn{
	font-size:15px;
}

.acc {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	font-size:6px;
	width: 165%;
	transform : translate(-100px,20px)
}

.acc .btns div {
	padding: 2px 2px 2px 2px;
	cursor: pointer;
	color: white;
	background: #0a0724;
	transition: all .5s ease-in-out;
	position: relative;
	display: flex;
	align-items: center;
	letter-spacing: 2px;
}

}

.td {
  margin: 0;
  padding: 0;
}

.td {
  padding: .5em 0;
  position: relative;
}
.td31:after{
  content: '';
  position: absolute;
  top: 0;
  border-top: 2px solid #ff8847;
  width: 100%;
  right: 0;
}
.td32:after{
  content: '';
  position: absolute;
  top: 0;
  border-top: 2px solid #ff8847;;
  width: 50%;
  left: 0;
}
.td41:after{
  content: '';
  position: absolute;
  top: 0;
  border-top: 2px solid #ff8847;;
  width: 100%;
  right: 0;
}
.td42:after{
  content: '';
  position: absolute;
  top: 0;
  border-top: 2px solid #ff8847;;
  width: 40%;
  left: 0;
}
.td51:after{
  content: '';
  position: absolute;
  top: 0;
  border-top: 2px solid #ff8847;;
  width: 100%;
  right: 0;
}
.td52:after{
  content: '';
  position: absolute;
  top: 0;
  border-top: 2px solid #ff8847;;
  width: 30%;
  left: 0;
}
.td61:after{
  content: '';
  position: absolute;
  top: 0;
  border-top: 2px solid #ff8847;;
  width: 100%;
  right: 0;
}
.td62:after{
  content: '';
  position: absolute;
  top: 0;
  border-top: 2px solid #ff8847;;
  width: 20%;
  left: 0;
}
#main{
	z-index:0;
	display: flex;
	position: relative;

}

#a {
  opacity:0;
  z-index:8;
  position: absolute;
  width: 100px;
  height: 100px;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#b {
  opacity:0;
  z-index:7;
  position: absolute;
  width: 100px;
  height: 100px;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#c {
  opacity:0;
  z-index:6;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 4.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#d {
  opacity:0;
  z-index:5;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#e {
  opacity:0;
  z-index:4;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 7.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#f {
  opacity:0;
  z-index:3;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;  
}
#g {
  opacity:0;
  z-index:3;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 10.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#h {
  opacity:0;
  z-index:3;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
#i {
  opacity:0;
  z-index:3;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 13.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#j {
  opacity:0;
  z-index:3;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#k {
  opacity:0;
  z-index:3;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 16.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#l {
  opacity:0;
  z-index:3;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#x {
  opacity:1;
  z-index:2;
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: example;
  animation-duration: 18s;
  animation-delay: 19.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes example {
  0%   {opacity:0;left:0px; top:0px;}
  50%  {opacity:1; left:50%; top:0px;}
  100%  {opacity:0; left:100%; top:0px;}
}

@media only screen and (max-width:800px){
#main{
	z-index:0;
	display: flex;
	position: relative;

}

#a {
  opacity:0;
  z-index:8;
  position: absolute;
  width: 50px;
  height: 50px;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#b {
  opacity:0;
  z-index:7;
  position: absolute;
  width: 50px;
  height: 50px;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#c {
  opacity:0;
  z-index:6;
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#d {
  opacity:0;
  z-index:5;
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#e {
  opacity:0;
  z-index:4;
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#f {
  opacity:0;
  z-index:3;
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;  
}
#g {
  opacity:0;
  z-index:3;
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#h {
  opacity:0;
  z-index:3;
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
#i {
  opacity:0;
  z-index:3;
  width: 50px;
  height:50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#j {
  opacity:0;
  z-index:3;
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#k {
  opacity:0;
  z-index:3;
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 22s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#l {
  opacity:0;
  z-index:3;
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#x {
  opacity:1;
  z-index:2;
  width: 50px;
  height: 50px;
  position: absolute;
  animation-name: example;
  animation-duration: 24s;
  animation-delay: 26s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes example {
  0%   {opacity:0;left:0px; top:0px;}
  25%  {opacity:1; left:50%; top:0px;}
  100%  {opacity:0; left:200%; top:0px;}
}
	}