.login-footer {
	position: fixed; bottom: 0; left: 0; right: 0;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 2px;
}

.social-network a.icoLinkedin {
	background-color:#f78245;
}
.social-network a.icoGoogle {
	background-color:#de6a2f;
}
.social-network a.icoGoogle:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 35px;
	height: 35px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:35px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.customFooter {
	position: fixed;
	bottom: 0px;
	height: auto;
	background-color: #d4d4d4;
	width: 100%;
	z-index:99;
	padding-left:1%;
}
.footerdate{
color:#bd3c00;font-size: 12px;text-align:left; width:30%
}
.footerinfo{
color:#7d7d7d; font-size: 15px;
}
.footercc{
	text-align:center;float:middle;color:#130970; font-weight:bold; 
}
.footertd1{
	padding-left:30px;
}
.footerdivlast{
float:right; margin-right:10px;
}
@media only screen and (max-width: 800px){

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 20px;
	height: 20px;
	font-size:4px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:20px;
	text-align: center;
}
.footerdate{
color:#bd3c00;font-size: 6px;text-align:left; width:30%
}
.footerinfo{
color:#7d7d7d; font-size: 6px;
}
.footercc{
	font-size:8px;text-align:center;float:middle;color:#130970; font-weight:bold; 
}
.footertd1{
	width:10%;
	padding-left:10px;
}
.footerdivlast{
float:right; margin-right:8px;
}

}
