#sign{
	width:440px; height:180px;
	top:0; bottom:0; left:0; right:0;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
}
#signdiv{
	
}

* {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#element {
  animation: load 1s infinite;
  background-color: #ed5f00;
  width: 5px;
  height: 30px;
  border-radius: 6px;
}
.loader{
	position:relative;width:80px;transform:translate(40%, 290px)
}

.loader #element {
  display: inline-block;
  margin: 3px;
}

.loader #element:nth-child(1) {
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}

.loader #element:nth-child(2) {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.loader #element:nth-child(3) {
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}

.loader #element:nth-child(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
body{
	/*background: linear-gradient(to right, #2a3a49 0%, #2a3a49 68.2%, white 68.2%, white 100%);*/
	background:#2a2a49;
	padding: 0;
	margin: 0;
}
.container,.menu{
	height: 140px;
	width: 160px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
}
.menu{
	z-index: -1;
	transform: scale(0.7);
}
.toggle{
	transform: scale(0.7);
}
.toggle{
	height: 0;
	width: 160px;
	border-bottom: 70px solid #e06c00;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 0;
	right:5px;
}
.toggle:before{
	content: ' ';
	height: 0;
	width: 160px;
	border-top: 70px solid #e06c00;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 68px;
	left: -40px;
}
.item{
	height: 0;
	width: 160px;
	border-bottom: 70px solid #fff;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 0;
	transition: 1s;
	font-size:12px;
	
}
.item:before{
	content: ' ';
	height: 0;
	width: 160px;
	border-top: 70px solid #fff;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	top: 68px;
	left: -40px;
	font-size:0px;
}
#add{
	font-size: 80px;
	color: #fff;
	position: relative;
	top: 30px;
	right: -5px;
	transition: 1s;
}
.menu a>.fa{
	color: #e06c00;
	font-size: 60px;
}
.menu a{
	position: relative;
	top: 40px;
	left: 10px;
	color: #e06c00;
}
.menu a>.fa:hover{
	color: #bd3c00;
	transform: scale(1.3);
	transition: 1s;
}
#namespan{
	font-family:calibari;font-size:23px; color:#e06c00; padding:5px 10px 5px 10px; border: 2px solid #e06c00;border-radius: 25px; background-color:#fbffc9;
}
.item1{transform : translate(-7px,-14px)
}.item2{transform : translate(-7px,-14px)
}.item3{transform : translate(-7px,-14px)
}.item4{transform : translate(-7px,-14px)
}.item5{transform : translate(-7px,-14px)
}.item6{transform : translate(-7px,-14px)
}


@media only screen and (max-width: 800px){


#sign{
	width:260px; height:115px;
	top:0; bottom:0; left:0; right:0;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
}
#signdiv{

}
* {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#element {
  animation: load 1s infinite;
  background-color: #ed5f00;
  width: 2px;
  height: 20px;
  border-radius: 2px;
}
.loader{
	position:relative;transform:translate(58%, 120px)
}

.loader #element {
  display: inline-block;
  margin: 3px;
}

.loader #element:nth-child(1) {
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}

.loader #element:nth-child(2) {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.loader #element:nth-child(3) {
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}

@keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.container{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
}
.menu{

	position: relative;
	width:50px;
	transform: scale(0.8);
}
.toggle{
	height: 0;
	width: 80px;
	border-bottom: 35px solid #e06c00;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	top: 0;
	transform : translate(-30px,-40px);
}
.toggle:before{
	content: ' ';
	height: 0;
	width: 80px;
	border-top: 35px solid #e06c00;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	top: 34px;
	left: -20px;
}
.item{
	height: 0;
	width: 80px;
	border-bottom: 35px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	top: 0;
	transition: 1s;
	font-size:0px;
}
.item:before{
	content: ' ';
	height: 0;
	width: 80px;
	border-top: 35px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	top: 34px;
	left: -20px;
	font-size:0px;
}
#add{
	font-size: 30px;
	color: #fff;
	position: relative;
	transition: 1s;
	left:8px;
	top: 21px;
}
.menu a>.fa{
	color: #e06c00;
	font-size: 30px;
}
.menu a{
	position: relative;
	color: #e06c00;
	top: 20px;
	left: 5px;
}
.menu a>.fa:hover{
	color: #bd3c00;
	transform: scale(0.7);
	transition: 1s;
}


.item1{transform : translate(-10px,220px)
}.item2{transform : translate(-10px,220px)
}.item3{transform : translate(-10px,220px)
}.item4{transform : translate(-10px,220px)
}.item5{transform : translate(-10px,220px)
}.item6{transform : translate(-10px,220px)
}.toggle{
	transform : translate(-30px,-75px)
}

}
